@charset "utf-8";
/* CSS Document */

body {
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	margin:5px;
	padding:0;
	width: 220px;
	height: 150px;
}
h1 {
	color:#fff;
	font-size:11px;
	margin:0 0 8px 0;
	padding:0;
	text-align:center;
}
p {
	line-height:16px;
	margin:5px 0;
	padding:0;
}
#container {
	text-align:center;
}
select {
	width:160px;
	font-size:10px;
}
input {
	width:80px;
	font-size:11px;
}
#container p {
	color:#333;
}
#container p span {
	padding:2px 0;
}
button {
	cursor:pointer;
	font-size:11px;	
} 
#swop-img {
	margin: 0 10px 0 5px; 
	cursor:pointer;
}
.small-text {
	font-size:10px;
}